body {
  background-color: rgba(0, 0, 255, 0.623);
}

.headerIndex {
  width: 100%;
  height: 100vh;
}

.divHeaderIndex {
  width: 100%;
  height: 85%;
}

.tituloLideres {
  font-size: 3rem;
  margin: 12rem 0 0 6rem;
}